.container {
  padding:0;
}

.divstyle {
background-color: cornsilk;
padding: 0;
margin: auto 10px;
width: auto;
height: 100vh;
text-align: center;
}

.card{
    margin-bottom: 10px;
    height: 100%;
    padding:5px;
}

.footer{
  
   left: 0;
   bottom: 0;
   width: 100%; 
    position: absolute;
   text-align: center;
   font-weight: bold
}

/* * {background-color: cornsilk} */

